extends layout 
block css
	link(rel='stylesheet' href='/stylesheets/form.css')
block content
	body
		form.create-hardware-type-form.d-flex.flex-column.align-items-stretch.gap-3(method='POST' action=`${hardware.route_url}/edit` enctype='multipart/form-data')
			div
				h2.my-0 Edit Hardware
				p.my-0.fs-6.text-info.text-center * means the information must be supplied
				p.my-0.fs-6.text-danger.text-center Admin password is required for this action
			.d-flex.flex-column
				label(for='name') Name*
				input#name(type='text' name='name' placeholder='GTX 950' maxlength='100' value!=hardware.name autofocus required)
			.d-flex.flex-column
				label(for='hardware_type') Hardware Type*
				select#hardware_type(name='hardware_type' required)
					for hardware_type in hardware_types
						if hardware.hardware_type.equals(hardware_type._id)
							option(value=hardware_type._id selected)=hardware_type.name
						else
							option(value=hardware_type._id)=hardware_type.name
			.d-flex.flex-column
				label(for='price') Price(USD)*
				input#name(type='number' name='price' min=0 value=hardware.price_usd required)
			.d-flex.flex-column
				label(for='number_in_stock') Amount*
				input#name(type='number' name='number_in_stock' min=0 value=hardware.number_in_stock required)
			.d-flex.flex-column
				label(for='desc') Description*
				textarea#desc(rows='6' name='desc' required)!=hardware.desc
			.d-flex.flex-column
				label(for='img_file') Image
					span.fs-6.text-info  (<= 1MB in size)
				input#img_file(type='file' name='img_file' accept='image/*')
			.d-flex.flex-column
				label(for='password') Admin Password*
				input#password(type='password' name='password' required)
			.d-flex.flex-column.gap-2.align-items-stretch
				button.my-button.purple(type='submit') Edit
				a.my-button.red(href=hardware.route_url) Cancel
		if errors
			ul
				for error in errors
					li.text-danger!= error.msg