extends layout 

block css
	link(rel='stylesheet' href='/stylesheets/hardware-type-details.css')
block content
	main.flex-grow-1.d-flex.flex-column.hardware-type-details
		.my-3
			.header
				h2.flex-grow-1.my-0!=hardware_type.name
				.buttons
					a.my-button.purple.w-auto.flex-grow-1(href=`${hardware_type._id}/edit`) Edit
					a.my-button.red.w-auto.flex-grow-1(href=`${hardware_type._id}/delete`) Delete
			p.fs-5.my-2.hardware-type-desc!=hardware_type.desc
		.flex-grow-1.d-flex.flex-column
			.header
				p.fs-2.my-0.flex-grow-1 Hardware
				a.my-button.brown.flex-grow-1.w-auto(href='/hardware/new') Add Hardware
			if hardwares.length === 0
				.flex-grow-1.d-flex.justify-content-center.align-items-center
					.d-flex.flex-column.gap-1
						img(src='/icons/nothing_found.png' alt='nothing found' id='no-hardware-icon')
						p.my-0.fs-4 No hardware
			else
				ul.mt-4.flex-grow-1.d-flex.flex-column.gap-3.p-0.hardware-item-list
					for hardware in hardwares
						li.hardware-item
							if hardware.img_filename !== undefined
								img.hardware-item-image(src=hardware.image_url alt='hardware image')
							else if hardware_type.img_filename !== undefined
								img.hardware-item-image(src=hardware_type.image_url alt='hardware image')
							.flex-grow-1.d-flex.flex-column
								h3.m-0
									a.hardware-item-name(href=hardware.route_url)!=hardware.name
								span.fs-5.price!=`${hardware.price_usd} USD`
								span.fs-5!=`${hardware.number_in_stock} available`
								p.m-0.fs-6.hardware-item-desc!=hardware.desc