extends layout

block css
    link(rel='stylesheet' href='/stylesheets/hardware-details.css')
block content
    main.flex-grow-1.mt-2
        .d-flex.gap-3.hardware-item
            img.hardware-image(src=hardware.image_url alt='hardware image')
            .flex-grow-1.d-flex.flex-column
                h3.m-0
                    a.hardware-name(href=hardware.route_url)!=hardware.name
                span.hardware-type.fs-5!=hardware.hardware_type.name
                span.fs-5.price!=`${hardware.price_usd} USD`
                span.fs-6!=`${hardware.number_in_stock} available`
                p.fs-5.hardware-desc!=hardware.desc
                .d-flex.gap-1
                    a.my-button.purple.flex-grow-1(href=`${hardware.route_url}/edit`) Edit
                    a.my-button.red.flex-grow-1(href=`${hardware.route_url}/delete`) Delete